{%- extends "base.html" %}
{% block content %}<div class="container center-block content section">
<h1 class="" id=""">Sample Space</h1>
<h2 class="" id=""">Definition</h2>
<p class="" id=""">
The set of all possible outcomes of a random experiment is called the </strong>sample space</strong>
</p>
<h2 class="" id=""">Resources</h2>
<div class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/6zWPgvEMVlE"></iframe></div>
<p class="" id=""">
Casella/Berger
</p>
</div>{%- endblock %}
