{%- extends "base.html" %}
{% block content %}<div class="container center-block content section">
<h1 class="" id=""">Definition</h1>
<p class="" id=""">
A <em>set</em> is a collection of objects called <em>elemets</em>.
</p>
<h3 class="" id=""">That's a little vague, right?</h3>
<p class="" id=""">Yes.</p>
<h3 class="" id=""">Yea, I thought so. Let's take a closer look.</h3>
<p class="" id=""">
A collection of numbers, say the integers 1 through 10, can be considered a set.
The primary colors (red, green, blue) could be considered a set. The cities north of the equator form a set.
And so on.
</p>
<h3 class="" id=""">Useful Notation</h3>
<p class="" id=""">
A set is usually denoted by a capital letter, i.e., $A$.
Elements of a set are often listed inside of brackets, separated by commas.
For example, the set $B$ that contains the odd positive integers less than 10 would be written

$$
	B = \left\{1, 3, 5, 7, 9\right\}.
$$

This notation is referred to as <em>tabular form</em>.
</p>
<h3 class="" id=""">Special Sets</h3>
<p class="" id=""">
There are a few sets that are used often enough that they have their own notation.

$$
\begin{align}
	\mathbb{N} &= \left\{0, 1, 2, 3, ...\right\} &  \text{Natural Numbers} \\
	\mathbb{P} &= \left\{1, 2, 3, 4, ...\right\} & \text{Positive Integers} \\	
	\mathbb{Z} &= \left\{..., -3, -2, -1, 0, 1, 2, 3, ...\right\} & \text{Integers} \\
	\mathbb{Q} &= \text{The rational numbers.} \\
	\mathbb{R} &= \text{The real numbers.} \\
	\mathbb{C} &= \text{The complex numbers.} \\
	\textbf{U} &= \text{The universal set.} \\
	\emptyset &= \left\{\right\} & \text{The null or empty set.}
\end{align}
$$
</p>
<h3 class="" id=""">Set Equality</h3>
<p class="" id=""">
We say that two sets $A$ and $B$ are equal, written $A = B$, iff all elements of $A$ are in $B$ and all elements of $B$ are in $A$.
</p>
<h3 class="" id=""">Subsets/Containment</h3>
<p class="" id=""">
We say that a set $A$ is a <strong>subset</strong> of a set $B$ (or that $B$ contains $A$) if every element in $A$ is also in $B$. We write this

$$
	A \subseteq B
$$

If one or more elements of $A$ are not in $B$, we write $A$ is <strong>not a subset</strong> of $B$ as

$$
	A \not\subseteq B
$$

We can then redefine set equality in terms of subsets

$$
	A = B \iff A \subseteq B \text{ and } B \subseteq A
$$
</p>
<h4 class="" id=""">Other properties of subsets</h4>
<p class="" id=""">Consider any sets $A$ and $B$.</p>
<p class="" id=""">
The null set $\emptyset$ is a subset of all other sets and all sets are subsets of the universal set $\textbf{U}$
$$
	\emptyset \subseteq A \subseteq \textbf{U} \\

$$
</p>
<p class="" id=""">
Since $A = A$ by definition,

$$
	A \subseteq A
$$
</p>
<p class="" id=""">
If $A$ is a subset of $B$ and $B$ is a subset of $C$

$$
	A \subseteq B \subseteq C \implies A \subseteq C
$$
</p>
<p class="" id=""">test</p>
</div>{%- endblock %}
