{%- extends "base.html" %}
{% block content %}<div class="container center-block content section">
<h1 class="" id=""">This is a header</h1>
<h2 class="" id=""">This is also a header</h2>
<h3 class="" id=""">Ditto</h3>
<h4 class="" id=""">Samezees</h4>
<h5 class="" id=""">Enough already with the headers, we get it.</h5>
<p class="" id=""">This is a paragraph</p>
<p class="" id=""">1000 youth have taken the survey in 100 programs.</p>
<p class="" id=""">this is a <a href="http://google.com">Google</a></p>
<p class="" id=""">this is a <a href="linear_algebra/hadamard_product">Hadamard Product</a></p>
<p class="" id=""">the hadamard is <a href="linear_algebra/hadamard_product">here</a></p>
</div>{%- endblock %}
